# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.venv/

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# MyPy and pytest
.mypy_cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Test output
nosetests.xml
test-results/

# GitHub Codespaces
.devcontainer/

# Optional: ignore OS handlers binary
code/src/**/__pycache__/
